@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <h1 style="color:#ECFFDC;">Need vehicle for your next trip ?</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="RentingFilterForm">Rent Now</a>
</div>
